// 侧边栏菜单主题风格
$base-menu-color-active: #f4f4f5; // 侧边栏展开项主菜单激活色
$base-menu-background: #304156; // 侧边栏主体背景色
$base-sub-menu-background: #1f2d3d; // 侧边栏展开项所有菜单背景色
$base-sub-menu-hover: #001528; // 侧边栏鼠标浮入菜单时的激活背景
$base-sidebar-width: 200px; // 侧边栏宽度
