
// global 组合样式类
@import "./global.scss";
// 仿原子样式类(tailwindcss)
@import "./customcss.scss";

/*
 * 公共通用样式模块(一个类名包含多个样式类型形成一整个功能样式)
 * 可自由拓展 
*/
page {
	background-color: $uni-bg-color-grey;
	font-size: $uni-font-size-base;
	color: $uni-text-color;
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

/* 弹窗遮罩 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  z-index: 99;
}